.areaContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.buttonContainer {
  height: 7.3rem;
  width: 100%;
  color: var(--white);
  font-size: large;
  font-weight: 600;
}

.svgType {
  width: 25px;
  margin-right: 15px;
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .areaContainer {
    height: fit-content;
    gap: 1rem;
  }

  .buttonContainer {
    height: 8.9rem;
    font-size: x-large;
  }

  .buttonContainer:hover {
    transform: scale(1.03);
    color: var(--white);
  }
}
